<header class='header-container'>

  <h1 class='title'>{{title}}</h1>

  <div class='links-container'>

    <a href='/' class='link'>
      Weather
    </a>

    <a href='/about' class='link'>
      About
    </a>

    <a href='/help' class='link'>
      Help
    </a>

  </div>
</header>